{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
Appointment Alerts
{% endblock %}


{% block content %}

<!--
	TIPS about using Bootstrap-Flask:
	https://github.com/helloflask/bootstrap-flask
	https://bootstrap-flask.readthedocs.io/
-->

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Appointment Alerts</h1>
      <h2 class="pt-5 pb-2">Appointment Information</h2>
      {{ render_form(appointment_form) }}
      <p class="pt-5"><strong>{{ message }}</strong></p>

      <!-- NOTE the way to link to a route: Use the function name -->
      <p><a href="{{ url_for('index') }}">Return to Patient and Provider Information</a></p>

    </div>
  </div>
</div>

{% endblock %}
